.icon {
  &-huge {
    font-size: 38px;
  }

  &-primary {
    color: @brand-primary;
  }

  &-success {
    color: @brand-success;
  }

  &-info {
    color: @brand-info;
  }

  &-warning {
    color: @brand-warning;
  }

  &-danger {
    color: @brand-danger;
  }
}